# Dependencies
node_modules/
.pnp
.pnp.*

# Build artifacts
target/
build/
dist/
.next/
out/

# Environment and sensitive files
.env
.env.*
!.env.example
!.env.*.example
infra/environments/.env.dev
infra/environments/.env.test
infra/environments/.env.production
.env*.local
*.pem

# IDEs & OS
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.DS_Store
.visual-check/
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
